* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #86efac;
    --foreground-color: #16a34a;
    --card-color: #022c22;
    --link-color: #166534;
    --paragraph-color: #86efac;
    --primary-color: #84cc16;
}

body {
    font-size: sans-serif;
    color: var(--foreground-color);
    background-color: var(--background-color);
}

main {
    width: 100%;
    max-width: 400px;
    background-color: var(--card-color);
    padding: 40px;
    border-radius: 8px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-image {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    width: 100px;
    height: 100px;
    /* لتزبيط الصورة */
    object-fit: cover;

    border-radius: 50%;
    margin-bottom: 24px;
}

.profile-info {
    position: relative;


}

.profile-info h1 {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 12px;
}

.profile-info h2 {
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 36px;

}


.profile-info p {
    font-size: 14px;
    text-align: center;
    font-style: italic;
    color: var(--paragraph-color);
    margin-bottom: 24px;
}

.profile-links {
    list-style: none;
}

.profile-links li:not(:last-child) {
    margin-bottom: 16px;
}

.profile-links li a {
    width: 100%;
    display: inline-block;

    text-align: center;
    text-decoration: none;
    color: var(--foreground-color);
    background-color: var(--link-color);
    padding: 14px;
    border-radius: 8px;
    font-size: 14px;
    transition: 100ms all ease-in-out;
}

.profile-links li a:hover {
    color: var(--background-color);
    background-color: var(--foreground-color);
}